# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*$py.class

# Flask environment config
.env
.env.local

# Virtual environments
.venv/
venv/
ENV/
env/

# Logs
logs/
*.log

# Uploads
uploads/
